{% extends "project/base.html" %}

{% block title %}{{ block.super }} | Welcome{% endblock%}

{% block content %}
<div>
    <h1>Welcome To Django</h1>
    <h2>Django + Celery + Nginx + Docker</h2>
    <h3>Looks like everything worked successfully! Congratulations!</h3>
    <table id="example-table">
        <tr>
            <th>variable</th>
            <th>Value</th>
        </tr>
        <tr>
            <td><code>{% templatetag openvariable %} IS_DEBUG {% templatetag closevariable %}</code></td>
            <td><code>{{ IS_DEBUG }}</code></td>
        </tr>
        <tr>
            <td><code>{% templatetag openvariable %} DJANGO_ENVIRONMENT_NAME {% templatetag closevariable %}</code></td>
            <td><code>{{ DJANGO_ENVIRONMENT_NAME }}</code></td>
        </tr>
    </table>
</div>
{% endblock%}