# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# ignore folder
projectenv/
staticfiles/
mediafiles/
logs/
.pytest_cache/

.DS_Store
venv
__pycache__
*.venv
*.cache

# Celery Beat
celerybeat-schedule
celerybeat.pid

# Vscode config
.vscode/settings.json

# Ignore all Environment File Apart from local
.env/*
!.env/.development