# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# ignore folder
projectenv/
staticfiles/
mediafiles/
logs/

.DS_Store
venv
env
__pycache__
*.venv
*.cache

# Celery Beat
celerybeat-schedule
celerybeat.pid

# Vscode config
.vscode/settings.json

# Environment File
*.env