{% load staticfiles %}
{% load html_debug %}

<!doctype html>
<html lang="en-gb">
    <head>
        {% block meta-head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title  %}Django + Celery + Ngnix + Docker {% endblock %}</title>
        {% endblock %}
        {% block styles-head %}
            <!--  CSS  -->
            <link type="text/css" href="{% static  '/project/css/project.css' %}" rel="stylesheet" />
        {% endblock %}
        {% block fonts-head %}
            <!--  Fonts and icons -->
        {% endblock %}
    </head>
    
    {% block body %}
        <body>
            {% hdbg %}
            {% if IS_DEBUG %}
            <div id="banner">
               <span>{{ DJANGO_ENVIRONMENT_NAME }}</span> 
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
            <!--   Core JS Files -->
            {% block inline_javascript %}{% endblock %}
        </body>
    {% endblock %}
</html>